<!-- Footer -->
<footer>
    <h4>Restez en contact</h4>
    <a href="" class="text-secondary"><i class="icofont-facebook icofont-2x"></i></a>
    <a href="" class="text-secondary"><i class="icofont-twitter icofont-2x"></i></a>
    <a href="" class="text-secondary"><i class="icofont-instagram icofont-2x"></i></a>
    <a href="" class="text-secondary"><i class="icofont-github icofont-2x"></i></a>
    <a href="" class="text-secondary"><i class="icofont-linkedin icofont-2x"></i></a>
    <a href="" class="text-secondary"><i class="icofont-skype icofont-2x"></i></a>
</footer>
<!-- End Footer -->